<br><br><div class="contenedor">
    <form id="log"><br>

        <img src="./assets/Acultzingo Ver.jpg">

<p><mark>1556</mark></p>
<p>El 22 de noviembre, el C. Fabián De Velasco virrey de la Nueva España envía a Melchor Cortés cacique natural de Thepetlacosloc ir al pueblo de San Juan Bautista Acultzíngo jurisdicción de Agualizapan y reunir a los naturales y autoridades vecinas, para hacerles entrega de las tierras.</p>
<hr>
<p><mark>1559</mark></p>
<p>El 15 de junio de, presentes los gobernadores de los pueblos vecinos de San Juan Acultzíngo en presencia del reverendísimo Fray Alonso de Santiago de la Orden de Nuestro Padre San Francisco, hace entrega a los naturales de este pueblo el Sr. Don Melchor Cortés de dos leguas y media de tierra por cada viento (166.97Km2), de superficie así como, 5 manantiales de agua; todos ellos brotando de un árbol de moral.</p>
<hr>
<p><mark>1862</mark></p>
<p>Ricardo Arencibia, revolucionario mexicano con menos de 6000 soldados, prenden fuego al pueblo de Acultzíngo entre el 20 y el 26 de abril, para impedir que las fuerzas francesas acamparan en este lugar el 27 de abril en las mismas cumbres de Acultzíngo el ejército al mando de Zaragoza les impide el paso a los franceses realizándose un enfrentamiento.</p>
<hr>
<p><mark>1871</mark></p>
<p>El 1 de junio, se hace el reparto de los sitios urbanos del municipio de Acultzíngo.</p>
<p>El 18 de junio de 1871, José Ignacio Arizmendi, regidor primero; José Hipólito Romero Ramos, Regidor segundo; Epifanio D. Palma, Síndico sustituto; Domingo Guzmán, Juez de paz y pobladores hacen el reparto de los solares de fundo legal, 321 en total.</p>
<hr>
<p><mark>1877</mark></p>
<p>El 1 de abril de, nace en este municipio el ilustre maestro veracruzano Profr. Melitón Guzmán I. Romero.</p>
<hr>
<p><mark>1924</mark></p>
<p>Se establece la cabecera municipal en la congregación de Tecamaluca, Acultzíngo.</p>
<img src="./assets/Escudo_acultzingo_TANTH.jpg">
    </form>
</div>
