<br><br><div class="contenedor">
    <form id="log"><br>

<img src="./assets/800px-Cumbres_de_Acultzingo,_Veracruz.jpg">

<p>Acultzingo significa en lengua náhuatl "en la pequeña vuelta del agua"​</p>

<p>En la zona sur de la actual población existen vestigios arqueológicos que no han sido explorados. Su población es de origen totonaca, olmeda y después fueron conquistados por la Triple Alianza.</p>

<p>Los pueblos originarios fueron trasladados a lo que hoy es San Juan Bautista Acultzingo después de la conquista de la zona. El primer encomendero fue Francisco de Montalvo.</p>

<p>La fecha más antigua del archivo parroquial data de 1625. En la portada de la Iglesia se pueden observar los relieves de un conejo -tochtli-, trece flores, un acatl y una flor que el arqueólogo Alfonso Caso determino como 1570 -13 tochtli- y 1571 -uno acatl-.</p>

<img src="./assets/acult5.jpg">

    </form>
</div>