<br><br><div class="contenedor">
    <form id="log"><br>

        <img src="./assets/30m006.jpg.gif">

<p>Se encuentra ubicado en la zona centro montañosa del Estado, en las coordenadas 18° 43' latitud norte y 97° 18' longitud oeste, a una altura de 1,660 metros sobre el nivel del mar. Limita al norte con Aquila, Maltrata, Nogales y Camerino Z. Mendoza, al este con Soledad Atzompa, al sur y oeste con el estado de Puebla. Su distancia aproximada por carretera a la capital del Estado es de 220 Km. Al sudoeste.</p>
<hr>
<p><mark>EXTENSION</mark></p>
<p>Tiene una superficie de 167.89 Km2 cifra que representa un 0.23% total del Estado.</p>
<hr>
<p><mark>OROGRAFIA</mark></p>
<p>El municipio se encuentra ubicado en la zona centro montañosa del Estado, en la Sierra Madre Oriental, donde se forman las cumbres de Acultzingo.</p>
<hr>
<p><mark>HIDROGRAFIA</mark></p>
<p>Se encuentra regado por arroyos tributarios del río Blanco.</p>
<hr>
<p><mark>CLIMA</mark></p>
<p>Su clima es templado-húmedo-extremoso con una temperatura promedio de 16.5 °C; su precipitación pluvial media anual es de un mil 500 mm.</p>
<hr>
<p><mark>RECURSOS NATURALES</mark></p>
<p>Su riqueza esta representada por su vegetación en donde sobresalen el pino y el encino por lo apreciado de su madera.</p>
<hr>
<p><mark>CARACTERISTICAS Y USO DEL SUELO</mark></p>
<p>Su suelo es de tipo rigosol y rendsina, el primero se caracteriza por no presentar capas distintas y parecerse a la roca, el segundo tiene una capa superficial rica en materia orgánica que descansa en materia caliza. Se destina principalmente para la agricultura y la ganadería en un 80%, para la vivienda en un 15% y comercio y espacios públicos 5%.</p>
<img src="./assets/800px-Mexico_Veracruz_Acultzingo_location_map.svg.png">
    </form>
</div>